<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to UniVerseHub</title>
    <link href="/authStyle.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet"/>

</head>
<body>
    <!-- <h2>Sign in/up Form</h2> -->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="#" id="signupForm">
			<h1 style="margin-bottom: 0.3rem;">UniVerseHub</h1>
			<h2>Create Account</h2>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" name="name" required/>
			<div class="signup name error"></div>
			<input type="email" placeholder="Email" name="email" required />
			<div class="signup email error"></div>
			<input type="password" placeholder="Password" name="password" required/>
			<div class="signup password error"></div>
			<button id="signupBtn" type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="#" id="loginForm">
			<h1 style="margin-bottom: 0.3rem;">UniVerseHub</h1>
			<h2>Sign in</h2>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="email" required />
			<div class="login email error"></div>
			<input type="password" placeholder="Password" name="password" required />
			<div class="login password error"></div>
			<a href="#">Forgot your password?</a>
			<button id="loginBtn" type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<a href="#login"><button class="ghost" id="signIn">Sign In</button></a>

			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<a href="#signup"><button class="ghost" id="signUp">Sign Up</button></a>
				
			</div>
		</div>
	</div>
</div>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	© 2023 UniVerseHub. All rights reserved.
</div>
<script src="/authScript.js"></script>
<script>
	const loginForm = document.querySelector('#loginForm');
	const signupForm = document.querySelector('#signupForm');

	const signupEmailError = document.querySelector('.signup.email.error');
    const signupPasswordError = document.querySelector('.signup.password.error');
	const signupNameError = document.querySelector('.signup.name.error');

	const loginEmailError = document.querySelector('.login.email.error');
	const loginPasswordError = document.querySelector('.login.password.error');

	
	loginForm.addEventListener("submit", (e) => {
		e.preventDefault();

		// reset errors
		loginEmailError.textContent = '';
    	loginPasswordError.textContent = '';
		
		const email = loginForm.email.value;
		const password = loginForm.password.value;
		
		const URI = "/auth/login";
		const others = {
			method: 'POST',
			body: JSON.stringify({ email, password }),
			headers: { 'Content-Type': 'application/json' },
		};

		fetch(URI,others)
		.then((res) => res.json())
		.then(data => {
			if (data.errors) {
				loginEmailError.textContent = data.errors.email;
				loginPasswordError.textContent = data.errors.password;
			}

			if (data.email) {
				location.assign('/');
			}
		})
		.catch(err => console.error(err))
		.finally(e => console.log("finished"));
	});

	signupForm.addEventListener("submit", (e) => {
		e.preventDefault();

		// reset errors
		signupEmailError.textContent = '';
    	signupPasswordError.textContent = '';
		signupNameError.textContent = '';
		
		const email = signupForm.email.value;
		const password = signupForm.password.value;
		const name = signupForm.name.value;
		//TODO: const username = signupForm.username.value;
		
		const URI = "/auth/signup";
		const others = {
			method: 'POST',
			body: JSON.stringify({ email, password, name }),
			headers: { 'Content-Type': 'application/json' },
		};

		fetch(URI,others)
		.then((res) => res.json())
		.then(data => {

			if (data.errors) {
				signupEmailError.textContent = data.errors.email;
				signupPasswordError.textContent = data.errors.password;
				signupNameError.textContent = data.errors.name;
			}
			if (data.email) {
				location.assign('/');
			}
		})
		.catch(err => console.error(err))
		.finally(e => console.log("finished"));
	})
	
</script>
</body>
</html>