<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">UniVerseHub</h5>
                <p>
                    Connecting university students through forums and video sharing.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="/about" class="text-dark">About Us</a></li>
                    <li><a href="/blog" class="text-dark">Blog</a></li>
                    <li><a href="/forum" class="text-dark">Forum</a></li>
                    <li><a href="#" class="text-dark">Privacy Policy</a></li>
                    <!-- <li><a href="#" class="text-dark">Contact</a></li>
                    <li><a href="#" class="text-dark">Terms of Service</a></li>
                     <li><a href="#" class="text-dark">FAQ</a></li> -->
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Facebook</a></li>
                    <li><a href="#" class="text-dark">Twitter</a></li>
                    <li><a href="#" class="text-dark">Instagram</a></li>
                    <li><a href="#" class="text-dark">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <nav style="position: relative;">
        <a href="#" class="btn btn-warning" id="scrollTopBtn" title="Go to top" style="display:none; position: fixed;bottom: 4rem;right: 3rem;">
            <i class="bi bi-arrow-up"></i>
        </a>
    </nav>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © <%= new Date().getFullYear() %> UniVerseHub. All rights reserved.
    </div>
</footer>
<script>
    let mybutton = document.getElementById("scrollTopBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        console.log(document.body.scrollTop, document.documentElement.scrollTop)
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    mybutton.onclick = function() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>