<nav>
    <div class="logo">
        <h1>Astonish</h1>
    </div>
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>