<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')  %> 
   
</head>
<body>
    <%- include('./partials/nav')  %> 

    <div class="about content">
        <h2>About UniVerseHub</h2>
        <p>UniVerseHub is a platform created by students for students. Our mission is to connect learners with resources and communities that foster academic success and personal growth.</p>
        <p>We believe in the power of collaboration and shared knowledge. Whether you're looking for study groups, tutoring services, or advice on navigating university life, UniVerseHub is here to support you.</p>
        <p>Our team is dedicated to continuously improving the platform and expanding our offerings to meet the evolving needs of our users. Join us on this journey as we build a brighter future for students everywhere.</p>
      </div>


    <%- include('./partials/footer')  %>   
</body>
</html>