/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.content  {
    margin-left: 20px;
    display: grid ;
    gap: 1rem;
}

/* util class */

.capitalize {
    text-transform:capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.clamp-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

.sidebar-sticky {
    flex: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 5rem;
}


/* index styles */
.blogs a {
    border-left: .3rem solid rgb(161, 7, 161);
    padding: 0.5rem;
    padding-left: 1rem;
    background-color:rgba(234, 140, 234, 0.085);
}
.blogs a:hover {
    background-color:rgba(234, 140, 234, 0.338);
}

.blogs a p {
    padding-left: 0.5rem;
}

/* forum detail */

.action-container {
    display: flex;
    gap: 1rem;
}
.privilages {
    display: flex;
    gap: 1rem;
}

.privilages .dlt-btn , .edit-btn {
    height: fit-content;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 10%;
    cursor: pointer;
}
.privilages .dlt-btn {
    border: 1px solid crimson;
    color: crimson;
}
.privilages .edit-btn {
    border: 1px solid teal;
    color: teal;
}

.privilages .dlt-btn:hover {
    background: crimson;
    color: white;
}

.privilages .edit-btn:hover {
    background:  teal;
    color: white;
}

/* create styles */
.create-blog form {
    min-width: 400px;
    margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.create-blog label  {
    display: block; 
    margin-top: 24px;
}
/* textarea  {
    height: 120px;
} */
.create-blog button  {
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
}

/* forum */
.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.hide {
    visibility: hidden;
}
