<nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
    <div class="container-fluid">
        <button id="sidebarToggle" class="btn btn-link text-light me-2">
            <i class="bi bi-list"></i>
        </button>
        <a class="navbar-brand" href="#">            
            <img src="/logo-admin.svg" alt="logo" class="logo-sm" width="32" height="32" /> <span class="d-none d-lg-inline">UniVerseHub Admin</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item d-flex align-items-center gap-2">
                    <% if(user) { %>
                        <a class="nav-link capitalize" href="/profile/<%= user.username %>">
                            <img src="<%= user.avatarUrl %>" alt="avatar" class="avatar-sm" /> <%= user.name %>
                        </a>
                    <% } else { %>
                        <i class="bi bi-person-circle"></i> Welcome, stranger?
                    <% } %>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>